@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
  --primary-color: #151919;
  --secondary-color: #74598C;
  --tertiary-color: #8C5A59;
  --fourth-color: #728C59;
  --background-color: #0a0a0a;
  --accent-color: #6BACD7;
  --page-color: #0b0e12;
  --menu-color: #292c35;
  --text-color: #e7e7e7;
  --text-color-secondary: #e8e8e8;
  --divider-color: #59898c;
  --project-hover-color: #88cbdf65;
  --banner-image: url("/images/pastel-cyberpunk/pastelcyberpunk.png");
  --corner-radius: 5px;
}



/* Global styles */

* {
  font-family: Poppins;
  /* background-color: black; */
}

body {
  background-color: var(--background-color);
}


a {
  text-decoration: none;
  color: #59898c;
}

.divider {
  background-color: var(--divider-color);
  width: 90%;
  height: 2px;
  margin: 20px auto;
  
}

.image-link img{
  border-radius: var(--corner-radius);
}

/* Responsive video CSS */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio of 16:9 = 9/16 = 56.25% */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* .video-container iframe,
.video-container video {
  max-width: 100%;
  height: auto;
} */


/* email link */
.content a[href^="mailto:"] {
  color: var(--text-color-secondary) /* Replace #yourColor with your desired color */
}

.content a[href^="mailto:"]:hover {
  color: var(--text-color-secondary); /* Replace #hoverColor with your desired hover color */
  text-decoration: underline; /* or any other hover effect */
}


/* Global container styles */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px; /* Set the maximum width you desire */
  width: 100%;
  min-height: 100vh;
  background-color: var(--page-color);
  color: var(--text-color);
  overflow-y: auto;
}

/* content container */
.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px; /* or whatever maximum width you prefer */
  padding-left: 15px; /* to ensure some space at the sides */
  padding-right: 15px; /* to ensure some space at the sides */
}



.image-grid img {
  width: 100%; /* Makes the image responsive within its container */
  height: auto; /* Maintains the aspect ratio */
  object-fit: cover; /* Ensures the image covers the area, you can also use 'contain' if you don't want images to be cropped */
  border-radius: var(--corner-radius);
}

/* Base grid style */
.image-grid {
  display: grid;
  gap: 10px; /* Default gap */
  margin-bottom: 10px; /* Default bottom margin */
}

/* Variations of the image grid */
.image-grid.masonry {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.image-grid.three-column {
  grid-template-columns: repeat(3, 1fr);
}

/* Symmetric two-column grid */
.image-grid.symmetric-two {
  grid-template-columns: repeat(2, 1fr);
}

/* Symmetric three-column grid */
.image-grid.symmetric-three {
  grid-template-columns: repeat(3, 1fr);
}

/* Symmetric four-column grid */
.image-grid.symmetric-four {
  grid-template-columns: repeat(4, 1fr);
}

/* Asymmetric grid with various sized columns */
.image-grid.asymmetric {
  grid-template-columns: 3fr 2fr 2fr 1fr;
}

/* Target specific children for different sizes, this is an example, adjust as necessary */
.image-grid.asymmetric img:nth-child(1) {
  grid-column: span 2;
}

.image-grid.asymmetric img:nth-child(2),
.image-grid.asymmetric img:nth-child(3) {
  grid-column: span 1;
}

.image-grid.asymmetric img:nth-child(4) {
  grid-column: span 3;
}


/* Two-column grid */
.image-grid.two-column {
  grid-template-columns: repeat(2, 1fr);
}

/* Four-column grid */
.image-grid.four-column {
  grid-template-columns: repeat(4, 1fr);
}

/* Complex asymmetric grid */
.image-grid.complex {
  grid-template-columns: repeat(12, 1fr);
}

.image-grid.complex img:nth-child(1) {
  grid-column: span 8;
}

.image-grid.complex img:nth-child(2) {
  grid-column: span 4;
}

.image-grid.complex img:nth-child(3) {
  grid-column: span 4;
}

.image-grid.complex img:nth-child(4) {
  grid-column: span 8;
}

/* Responsive adjustments for complex grid */
@media (max-width: 768px) {
  .image-grid.complex {
    grid-template-columns: repeat(6, 1fr);
  }

  .image-grid.complex img:nth-child(1),
  .image-grid.complex img:nth-child(2),
  .image-grid.complex img:nth-child(3),
  .image-grid.complex img:nth-child(4) {
    grid-column: span 6;
  }
}

@media (max-width: 480px) {
  .image-grid.complex {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-grid.complex img {
    grid-column: span 3;
  }
}



/* Image Overlay */

#image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}

#close-overlay {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

#large-image {
  max-width: 90%;
  max-height: 90%;
}



/* Profile */
.profile-section {
  padding-top: 50px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background-color: var(--primary-color);
  margin: 0 auto;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.skills {
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  text-align: center; /* Center-align the text */
}

.about-me {

}

.about-me-text {

}

/* Project grid */

/* Container holding all projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Adjust the minmax values based on your preference */
  gap: 20px; /* Space between projects */
}

/* Individual project entries */
.project-entry {
  /* Additional styling for borders, padding, etc., can be added here if needed */
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
  }
}


/* Project list */

.project-link {
  text-decoration: none; /* Removes the underline from all links */
  color: inherit; /* Ensures that the link text uses the inherited color, not the default blue */

}

.project a {
  color: inherit; /* This makes the link color the same as the surrounding text color */
  text-decoration: none; /* This removes the underline from the links */

}

.project {
  cursor: pointer; /* This changes the mouse cursor to indicate the whole area is clickable */
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  border-radius: var(--corner-radius);
  padding: 10px;
  box-sizing: border-box;
}

/* To make the whole project container a clickable area, you can apply the following: */
.project:hover {
  background-color: var(--project-hover-color); /* Change to whatever hover effect you want */
  box-shadow: 5px 5px 3px 0px rgba(12, 12, 12, 0.5);
  /* box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1); */
}
  
.project img {
  max-width: 100%;
  max-height: 100%; /* You can set a max-height if you want to constrain the image by height as well */
  object-fit: contain; /* This will make sure the entire image fits within the container */
  object-position: center center;
  border-radius: var(--corner-radius);
}

.project-image {
  max-width: 100%;
  border-radius: 25px;
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Adjust margin as needed */
}

.project-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.project-image-grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--corner-radius);
}

/* Project Tags */
.project-tags {
  /* Adjust spacing as needed */
  margin-top: 10px;
}



.tags .tag {
  background-color: #508fa8; /* Example background color */
  border-radius: 15px; /* Creates rounded corners */
  padding: 5px 15px; /* Space inside the tag */
  margin-right: 5px; /* Space between tags */
  font-size: 0.8em; /* Adjust tag text size as needed */
  display: inline-block;
  margin-top: 10px;
}


/* project grid images */

.project-images-grid {
  display: grid;
  grid-gap: 10px;
  margin-top: 20px;
}

.project-images-grid img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: var(--corner-radius);
}

.project-images-grid.masonry {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px; /* Fixed height, let the width be responsive */
}

.project-images-grid.symmetric {
  grid-template-columns: repeat(3, 1fr); /* Symmetric three-column layout */
}

.project-images-grid.asymmetric {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

/* For asymmetric grid, you can target specific children to span more rows or columns */
.project-images-grid.asymmetric img:nth-child(1),
.project-images-grid.asymmetric img:nth-child(2) {
  grid-column: span 2;
}

.project-images-grid.asymmetric img:nth-child(3) {
  grid-row: span 2;
}

.project-images-grid.single-image img {
  grid-column: 1 / -1; /* Make the image span all columns */
  max-height: 400px; /* Optional: if you want to limit the height */
  object-fit: contain; /* Use 'contain' to ensure the entire image is visible */
  border-radius: var(--corner-radius);
}

.project-images-grid.single-image {
  border-radius: var(--corner-radius);
}

.single-image img {
  border-radius: var(--corner-radius);
}

/* Footer */
.footer {
  background-color: #2b2b2b;
  padding: 1em;
  text-align: center;
}

.footer a {
  color: #59898c;
  text-decoration: none;
  
}

/* Banner global rules */
.banner-link {
  display: block;
  text-decoration: none;
  color: inherit; /* To retain text color */
  background-color: var(--primary-color); /* This is assuming your banner background color is the primary color */
  /* Remove the background image from here if it's set directly on .banner */
  grid-area: banner; /* Ensuring it fills the correct area in the grid */
}


.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: var(--banner-image);
  background-repeat: no-repeat; /* This will prevent the image from tiling */
  background-size: cover; /* Ensures the image covers the banner */
  background-position: center bottom; /* Center the background image horizontally and align to the top */
  background-color: var(--primary-color);
  min-height: 200px;
  width: 100%;
  position: relative;
}

.banner-content {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(63, 68, 84), 0 0 5px rgb(129, 129, 129);
}
/* Desktop styles */
@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "banner banner" "menu menu" "profile main" "footer footer";
    height: 100vh;
  }

  .banner-link {
    /* Since .banner-link is now a block level element, you need to ensure it fills the container. */
    grid-area: banner; /* It should follow the same grid area as .banner */
  }

  .banner {
    justify-content: flex-start;
    padding-left: 40px; /* For aligning content inside banner */
  }

  .banner-content {
    text-align: left;
  }

  .menu {
    grid-area: menu;
    /* Ensure the menu is a block element to fill the area */
    display: block;
    background-color: var(--menu-color);
  }

  .profile-section {
    grid-area: profile;
  }

  .main-content {
    grid-area: main;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1700px;
    /* margin: 0 auto; */
  }

  .footer {
    grid-area: footer;
  }
}


/* Mobile styles */
@media screen and (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "banner" "menu" "profile" "main" "footer";
  }

  .banner {
    padding: 10px;
    min-height: 50px; /* Adjust min-height as needed for mobile */
  }
  .menu { 
    grid-area: menu;
    text-align: center;
  }
  .profile-section {
    grid-area: profile; 
    padding-bottom: 40px;
  }
  .main-content { 
    grid-area: main; 
  }
  .footer { 
    grid-area: footer; 
  }
}

/* Base styles for menu */

nav {
  background-color: rgb(34, 34, 34);
  /* color: rgb(252, 252, 252); */
}
nav ul {

  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* This will start horizontal and switch to vertical on mobile */
  flex-direction: column; /* Start with vertical layout for mobile-first */
  width: 100%; /* Full width for mobile */
}

nav li {
  padding: 0.5em; /* Add some padding around each menu item */
  width: 100%; /* Full width for mobile */
}

nav a {
  text-decoration: none;
  color: #d1d1d1;
  display: block; /* Make the anchor fill the li for better click area */
}

nav a:hover {
  text-decoration: underline;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row; /* Lay out the menu items horizontally */
    justify-content: center; /* Center the menu items horizontally */
  }

  nav li {
    width: auto; /* Auto width for horizontal layout */
  }
}

/* markdown rendering */

blockquote {
  background-color: #cfe5e9;
  color: #2b2b2b;
  border-left: 15px solid #85d2d4;
  margin: 1.5em 10px;
  padding: 0.1em 20px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: var(--corner-radius);
}

.callout {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #929292;
  border-left: 4px solid #e53e3e;
  background-color: #f9f9f9;
}

.callout .callout-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #2b2b2b;
}

.callout .callout-body {
  /* Additional styling for the body if needed */
  color: #2b2b2b;
}

.callout.single {
  /* Different style when there's only one line */
  font-weight: bold;
}

/* misc */

iframe {
  border-radius: var(--corner-radius);
}

/* sketchfab */

.sketchfab-embed-wrapper {
  text-align: center; /* Centers the iframe container */
  margin: 0 auto; /* Additional centering for the block element */
  max-width: 80%; /* Set a max-width to control size */
}

.sketchfab-embed-wrapper iframe {
  width: 100%; /* Use 100% of the .sketchfab-embed-wrapper */
  height: 500px; /* Set a fixed height or use responsive height as needed */
}

/* Optional: Add padding for visual spacing around the iframe */
.sketchfab-embed-wrapper {
  padding: 20px 0; /* Add padding to the top and bottom */
}
