<div class="profile">
    <img src="{{ .Site.BaseURL }}/images/not-project/portrait_06.jpg" alt="Your Name" class="profile-image" />
    <h2>Skye</h2>
    {{ partial "divider.html" . }}
    <ul class="skills">
      <li>Technical Artist</li>
      <li>3D Generalist</li>
      <li>Pipeline Engineer</li>
      <li>Educator</li>
    </ul>
    {{ partial "divider.html" . }}
    <div class="about-me">
      <h3>About Me</h3>
      <p class="about-me-text">
        I am passionate about 3D, game dev, film, and VFX.
        Started in high school, I explored tech art, 
        motion graphics, and tool building at UVU. 
        I am currently an Adjunct professor at UVU.
      </p>
    </div>

</div>
