<!-- Start the container before the range loop -->
<div class="projects-container">
  {{ range sort (where .Site.RegularPages "Section" "projects") "Weight" "asc" }}
    <a href="{{ .Permalink }}" class="project-link">
      <div class="project">
        <h2>{{ .Title }}</h2>
        <div class="project-images-grid {{ if eq (len .Params.images) 1 }}single-image{{ else if .Params.layoutStyle }}{{ .Params.layoutStyle }}{{ end }}">
          {{ range .Params.images }}
            <img src="{{ . | absURL }}" alt="{{ $.Title }}" />
          {{ else }}
            <!-- Fallback if no images are specified or found -->
            <img src="{{ $.Site.BaseURL }}images/default-project.png" alt="Default image" />
          {{ end }}
        </div>
        <p>{{ .Summary }}</p>
        <!-- Tags section using the tags shortcode -->
        {{ if .Params.tags }}
          {{ partial "display-tags.html" . }}
        {{ end }}
      </div>
    </a>
  {{ end }}
</div> <!-- End the container after the range loop -->
